<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Search</title>
</head>
<body>
    <h1>Product Search</h1>

    <!-- Форма для поиска -->
    <form action="{{ url_for('search_products') }}" method="GET">
        <label for="search">Search by Name:</label>
        <input type="text" id="search" name="query">
        <button type="submit">Search</button>
    </form>

    <!-- Результаты поиска будут отображены здесь -->

    <ul>
        {% for product in products %}
        <li><a href="{{ url_for('get_product', product_id=product.id) }}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_product') }}">Add New Product</a>
</body>
</html>

