<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    <p>Showing results for "{{ query }}":</p>

    <form method="get" action="{{ url_for('search_products') }}">
        <input type="hidden" name="query" value="{{ query }}">
        <label for="sort_by">Sort by:</label>
        <select name="sort_by" id="sort_by">
            <option value="name" {% if sort_by == 'name' %}selected{% endif %}>Name</option>
            <option value="description" {% if sort_by == 'description' %}selected{% endif %}>Description</option>
            <option value="price" {% if sort_by == 'price' %}selected{% endif %}>Price</option>
            <option value="category" {% if sort_by == 'category' %}selected{% endif %}>Category</option>
        </select>
        <label for="sort_order">Order:</label>
        <select name="sort_order" id="sort_order">
            <option value="asc" {% if sort_order == 'asc' %}selected{% endif %}>Ascending</option>
            <option value="desc" {% if sort_order == 'desc' %}selected{% endif %}>Descending</option>
        </select>
        <button type="submit">Sort</button>
    </form>

    <ul>
        {% for product in products %}
        <li><a href="{{ url_for('get_product', product_id=product.id) }}">{{ product.name }} </a></li>
        <p>Цена: {{ product.price }}<br>Категория: {{ product.category }}<br>Описание: {{ product.description }}</p>
        {% endfor %}
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>
